<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Node/Express Test</title>

</head>

<body>
    <div class="container">
        <h1><%= title %></h1>

            <% for (var i =0; i < data.length; i++) { %>

                <p>Search Term: "<%= data[i].searchQuery %>" &ensp|&ensp Date Searched: <%= data[i].dateSearched %></p>
                <br>

                <% } %>

    </div>


</body>

</html>
