<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Search Abstraction Layer</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>
<html>
<body>
<h1>FreeCodeCamp API Project: Image Search Abstraction Layer</h1>
<ul>
  <li><b>User Story:</b> I can get the image URLs, alt text and page urls for a set of images relating to a given search string</li>
  <li><b>User Story:</b> I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
  <li><b>User Story:</b> I can get a list of the most recently submitted search strings</li>
</ul>
<h2>Search Examples</h2>
<code>https://image-search-11.herokuapp.com/api/search/dogs?offset=5</code>
<br>
<code>https://image-search-11.herokuapp.com/api/search/cats</code>

<h2>Recent Searches Example</h2>
<code>https://image-search-11.herokuapp.com/api/recent</code>


</body>
</html>

<style>
body{
  margin:50px 50px;
}
h1{
  text-decoration: underline;
}
code {
  color: darkred;
}
</style>
